.client {
  display: flex;
  flex-wrap: wrap;
  &-item {
    height: 120px;
    width: 33.3333%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #D6D8D8;
    border-left: 1px solid #D6D8D8;

    &:last-child {
      border-right: 1px solid #D6D8D8;
    }

    &:nth-child(3n) {
      border-right: 1px solid #D6D8D8;
    }

    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      border-top: 1px solid #D6D8D8;
    }

  }
}

@media (max-width: 715px) {
  .client {
    display: flex;
    &-item {
      width: 100%;
      border: 1px solid #D6D8D8;
      border-bottom: none;


      &:last-child {
        border-bottom: 1px solid #D6D8D8;
      }
    }
  }
}
