.delivery {
  background-color: #EEEFF1;
  padding: 70px 0;

  .wrapper-left {
    &-deep {
      //padding: 93px 0;
      padding-top: 93px;
      padding-bottom: 93px;

      .delivery-left-content {
        margin-top: 40px;
        max-width: 530px;
        padding-left: 3px;
        padding-right: 10px;

        button {
          color: #05051A;
          font-size: 21px;
          font-weight: 500;
          letter-spacing: -0.4px;
          line-height: 30px;
          margin-top: 20px;
          border: none;
          padding: 0 0 0 30px;
          position: relative;
          text-align: start;


          &:after {
            content: url("../assets/icons/list-item-arrow-black.svg");
            position: absolute;
            top: 0;
            left: 0;
          }

          &:hover {
            color: #6DD400;
            &:after {
              content: url("../assets/icons/list-item-arrow.svg");
            }
          }
        }

        .active {
          color: #6DD400;
          &:after {
            content: url("../assets/icons/list-item-arrow.svg");
          }
        }
      }

      .nav {
        display: block;
      }
    }
  }

  .wrapper-right {
    background-color: #0F0F0F;
    &-deep {
      max-width: 640px;
      padding: 60px;
      display: flex;
      flex-direction: column;
      height: 100%;
        .delivery-right-content {
          flex-grow: 2;
          margin-bottom: 20px;
          .title-m {
            color: #FFFFFF;
            margin-bottom: 20px;

            span {
              color: #6DD400;
            }
          }

          .delivery-right-content-descr {
            opacity: 0.7;
            color: #FFFFFF;
            font-size: 17px;
            letter-spacing: -0.4px;
            line-height: 26px;
            margin-top: 14px;
          }
        }

      .btn {
        min-height: 64px;
        min-width: 268px;
      }
    }
  }
}

.advantages {
  border-bottom: 1px solid #EEF0F1;
  .wrapper-left {
    padding: 140px 130px 140px 0;
    &-deep {
        max-width: 530px;
      .advantages-subtitle {
        color: #0F0F0F;
        font-size: 21px;
        font-weight: 500;
        letter-spacing: -0.4px;
        line-height: 30px;
        text-decoration: underline;
      }

      .advantages-section-one {
        .advantages-subtitle {
          margin-top: 39px;
          margin-bottom: 30px;
        }

        .descr-s {
          margin-top: 20px;
        }
      }

      .advantages-section-two {
        margin-top: 40px;
        display: flex;
        &-wrap {
          padding: 30px;
          background-color: #EEEFF1;
          &-title {
            margin-top: 20px;
            color: #0F0F0F;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: -0.4px;
            line-height: 26px;
          }

          &-descr {
            margin-top: 13px;
            color: #61646B;
            font-size: 14px;
            letter-spacing: -0.3px;
            line-height: 22px;
          }

          &-price {
            margin-top: 28px;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.4px;
            line-height: 20px;
            background-color: #0F0F0F;
            padding: 10px 20px 10px 30px;
            position: relative;
            left: -30px;
            width: calc(100% + 20px);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 22%, 93% 0);
          }

          .link {
            margin-top: 30px;
          }

          &:first-child {
            background-color: rgb(93%, 94%, 95%, 0.5);
          }

          &:last-child {
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 7%, 87% 0);
          }
        }
      }

      .advantages-section-three {
        margin-top: 70px;

        &-content {
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          &-item {
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-wrap {
              width: 84.9%;
              &-title {
                color: #0F0F0F;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: -0.4px;
                line-height: 26px;
              }

              &-descr {
                margin-top: 4px;
                color: #61646B;
                font-size: 17px;
                letter-spacing: -0.4px;
                line-height: 26px;
              }
            }

            svg {
              margin-left: 10px;
            }

            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  .wrapper-right {
    &-deep {

      &-wrap {
        //max-height: 900px;
        max-height: 100vh;
        position: sticky;
        top: 0;

        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
        }

        img {
          height: 100%;
        }
      }


    }
  }
}

.partner {
  padding: 70px 0;
  .wrapper-left {
    &-deep {
      padding-right: 130px;

      .title-wrap {
        margin-top: 30px;

        &-item {
          color: #0F0F0F;
          font-size: 50px;
          font-weight: 900;
          letter-spacing: -1.2px;
          line-height: 60px;
          text-transform: uppercase;


          &:nth-child(1n) {
            font-weight: 100;
          }
          &:nth-child(2n) {
            font-weight: 300;
          }
          &:nth-child(3n) {
            font-weight: 600;
          }
          &:nth-child(4n) {
            font-weight: 900;
          }
        }
      }

      .descr-s {
        margin-top: 50px;
        font-size: 19px;
        letter-spacing: -0.6px;
        line-height: 26px;
      }

      .btn {
        margin-top: 50px;
        min-height: 64px;
        min-width: 268px;
      }
    }
  }

  .wrapper-right {
    &-deep {
      .slide-window {
        margin-right: 40px;

        .slide-logo {
          display: none;
        }
      }
    }
  }
}


@media (max-width: 1100px) {
  .advantages {
    .wrapper-left {
      &-deep {
        .advantages-section-two {
          display: flex;
          flex-direction: column-reverse;
          &-wrap {
          }
        }
      }
    }
  }
}


@media (max-width: 750px) {
  .delivery {
    display: none;
    .wrapper-right {
      &-deep {
        padding: 30px;
      }
    }
  }

  .partner {
    padding-bottom: 20px;
    .wrapper-left {
      &-deep {
        padding-right: 40px;
      }
    }

    .wrapper-right {
      &-deep {

        .thumb {
          display: none;
        }

        .swiper {
          margin-right: 40px;
        }

        .slide-window {
         max-width: unset;
          margin-right: 0;

          .slide-logo {
            display: block;
            margin-bottom: 20px;
          }

          .swiper-slide {
            padding: 30px 30px 85px 30px;
            width: calc(100% - 80px);
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            &-descr, &-descr-s {
              font-size: 17px;
            }
          }

          &:after {
            content: none;
          }
          .slide-window-btns {
            display: none;
          }

          .swiper-pagination {
            background-color: #FFFFFF;
            bottom: -1px;
            padding: 20px;

            .swiper-pagination-bullet {
              height: 8px;
              width: 8px;
              background-color: #0F0F0F;
              border-radius: unset;
              opacity: 1;
            }

            .swiper-pagination-bullet-active {
              background-color: #6DD400;
            }
          }
        }
      }
    }
  }

  .quest {
    .wrapper-left {
      &-deep {
        &-contact {
          &-item {
            flex-wrap: wrap;
            &-link {
              font-size: 15px;
            }

            &-data {
              font-size: 15px;
              padding-left: 18px;

              &:after {

                padding: 0 7px;
              }
            }
          }
        }
      }
    }

    .wrapper-right {
      &-deep {
        padding: 30px;
      }
    }
  }

  .advantages {
    .wrapper-left {
      padding: 100px 15px 100px 0;

      &-deep {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 550px) {
  .partner {
    .wrapper-left {
        &-deep {
          .title-m-light {
            font-size: 20px;
            letter-spacing: -0.4px;
            line-height: 24px;
          }
          .title-wrap {
            margin-top: 20px;
            &-item {
              font-size: 40px;
              letter-spacing: -1.2px;
              line-height: 50px;
            }
          }

          .descr-s {
            margin-top: 20px;
            font-size: 17px;
            letter-spacing: -0.4px;
            line-height: 26px;
          }

          .btn {
            width: 100%;
            margin-top: 30px;
          }
        }
    }
  }
}
