.form {
    &-wrap {
      padding: 50px;
      background-color: #EEF0F1;
      display: flex;
      flex-direction: column;
      row-gap: 30px;

      &-header {
        &-title {
          color: #0C0E12;
          font-size: 36px;
          font-weight: bold;
          letter-spacing: -0.7px;
          line-height: 48px;
        }

        .descr-s {
          margin-top: 16px;
        }
      }

      &-section {

        &-title {
          color: #61646B;
          font-size: 14px;
          letter-spacing: -0.4px;
          line-height: 26px;
          margin-bottom: 10px;
          text-transform: uppercase;
        }

        &-inputs {
          display: flex;
          flex-wrap: wrap;
          column-gap: 10px;
          row-gap: 10px;
        }
      }

      .btn {
        width: 100%;
        margin-top: 6px;
      }
    }
}


.input-wrap, .input-wrap-half {
  width: 100%;
  position: relative;
  align-items: center;

  input, textarea, select {
    width: 100%;
    padding: 14px 26px;
    border: none;
    outline: none;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);

    &::placeholder {
      height: 26px;
      color: #61646B;
      font-size: 16px;
      letter-spacing: -0.4px;
      line-height: 26px;
    }

    &:focus {
      box-shadow: 0 0 0 1px #6DD400;
    }

    .invalid-feedback {
      color: #E02020;
      font-size: 13px;
      letter-spacing: -0.4px;
      line-height: 18px;
      margin-top: 6px;
    }
  }



  textarea {
    resize: none;


  }


  span {
    position: absolute;
    right: 26px;
    top: 50%;
    transform: translateY(-50%);
  }

}


.input-wrap-half {
  width: calc(50% - 5px);
}


.error-validated {
  .form-control:invalid {
    background-image: unset;
    box-shadow: 0 0 0 1px #E02020;
  }

  .form-control:valid {
    background-image: unset !important;

    &:focus {
      box-shadow: 0 0 0 1px #6DD400;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.required {
  &:after {
    position: absolute;
    content: "*";
    color: #FA6400;
    right: 6px;
    top: 6px;
    font-size: 20px;
  }
}



textarea {
  resize: none;
}

@media (max-width: 600px) {
  .form {
    &-wrap {
      padding: 40px;
    }
  }

  .input-wrap-half {
    width: 100%;
  }
}
