.header {
  width: 100%;
  padding: 0 20px 0 30px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 0 0 rgba(46,49,56,0.12), 0 4px 8px 0 rgba(46,66,107,0.1);
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 100;

  &-logo {
    padding: 0 30px 0 0;
  }

  &-content {
    display: flex;
    align-items: center;
    flex-grow: 1;

    &-menu {
      display: flex;
      flex-grow: 1;
    }


    .dropdown {
      margin-right: 40px;
      top: 0 !important;

      &-active {
        color: #05051A;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 20px;
        display: flex;
        align-items: center;

        svg {
          margin-right: 7px;
        }
      }

      &-menu {
        padding: 30px;
        border-radius: unset;
        background-color: #EEF0F1;
        transform: translate(-35px, 35px) !important;
        position: relative;

        li {
          margin-top: 14px;

          &:first-child {
            margin-top: 0;
          }
          a {
            display: flex;
            align-items: center;
            color: #05051A;
            font-size: 16px;
            letter-spacing: -0.3px;
            line-height: 20px;
            font-weight: 300;
            margin: 0;
            padding: 0;
            svg {
              margin-right: 8px;
            }
          }
        }

        .dropdown-item-active {
          font-weight: 500;
        }

        &:after {
          content: "";
          position: absolute;
          height: 12px;
          width: 2px;
          background-color: #6DD400;
          top: -6px;
          left: 43px;
        }
      }
    }
  }


}


@media (min-width: 1300px) {
  .header {
    &-content {
      border-left: 1px solid rgba(46,49,56,0.12);
      &-menu {
        display: flex;

        .levelOne-li {
          position: relative;
          padding: 35px 0;
          transition: all 0.3s;

          &-btn {
            background-color: transparent;
            border: none;
            color: #0F0F0F;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 20px;
            position: relative;
            padding: 0 12px 0 30px;

          }

          .content-true {
            &:after {
              content: "";
              position: absolute;
              right: 0;
              top: 13px;
              transform: translateY(-50%);
              border: 4px solid transparent;
              border-top: 4px solid #000000;
              transition: all 0.3s;
            }
          }

          .levelTwo {
            max-height: calc(100vh - 100px);
            //overflow-y: auto;
            position: absolute;
            display: none;
            flex-direction: column;
            row-gap: 10px;
            padding: 40px;
            top: calc(100% + 1px);
            background-color: #FFFFFF;
            width: 400px;
            box-shadow: 0 0 0 1px rgba(46,49,56,0.12), 0 10px 20px 0 rgba(46,66,107,0.1);
            &-li {
              padding-bottom: 14px;

              &-btn {
                border: none;
                background-color: transparent;
                color: #0F0F0F;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 20px;
                padding: 0;
              }

              .levelThree {
                //display: none;
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                //margin-top: 14px;
                opacity: 0;
                max-height: 0;
                transition: all 0.3s;


                .levelThree-li {
                  display: flex;
                  position: relative;

                  a {
                    color: #61646B;
                    font-size: 14px;
                    letter-spacing: -0.2px;
                    line-height: 16px;
                    padding-left: 16px;
                  }

                  &:after {
                    content: url("../assets/icons/arrow3.svg");
                    position: absolute;
                    top: -4px;
                    left: 0;
                  }
                }
              }

              &:hover {
                overflow: visible;
                .levelThree {
                  //display: flex;
                  opacity: 1;
                  max-height: 1000px;
                  margin-top: 14px;
                }
              }

              &:last-child {
                padding-bottom: 0;
              }
            }
          }

          &:hover {
            .levelOne-li {

              &-btn {
                color: #6DD400;

                &:after {
                  transform: rotate(180deg);
                  border-top-color: #6DD400;
                  top: 4px;
                }
              }

              .content-true {
                &:after {
                  transform: rotate(180deg);
                  border-top-color: #6DD400;
                  top: 4px;
                }
              }
            }

            .levelTwo {
              display: flex;
            }
          }
        }
      }

      .header-toggler {
        display: none;
      }

      .desktop-mobile {
        display: none;
      }
    }
  }

  .scroll {
    .header-content-menu .levelOne-li {
      padding: 25px 0;
    }
  }
}


@media (max-width: 1300px) {
  .header {
    padding: 0 10px 0 20px;
    //position: relative;

    &-logo {
      padding: 11px 0;
      display: flex;

      //height: 42px;
      //width: 90px;

      svg {
        max-width: 100%;
        height: 42px;
        width: 90px;
      }

    }

    &-content {
      justify-content: flex-end;
      &-menu {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        min-height: calc(100vh - 64px);
        background-color: #EEF0F1;
        padding: 40px;
        flex-direction: column;
        row-gap: 22px;

        ul {
          display: flex;
          flex-direction: column;
          row-gap: 22px;
        }


        .levelOne-li button, a {
          border: none;
          color: #0F0F0F;
          font-size: 19px;
          font-weight: bold;
          letter-spacing: -0.6px;
          line-height: 26px;
          padding: 0;
        }


        .levelOne-li {

          .levelTwo, .levelThree {
            top: 0;
            right: -100%;
            width: 100%;
            height: calc(100vh - 64px);
            position: absolute;
            z-index: 10;
            padding: 40px;
            background-color: #EEF0F1;
            transition: all 0.3s;
          }
        }

      }

      .dropdown {
        margin-right: 20px;
      }

      .desktop-btn {
        display: none;
      }

      .desktop-mobile {
        width: 100%;
        margin-top: 16px;
      }
    }

    .header-toggler {
      height: 44px;
      width: 44px;
      background-color: #EEF0F1;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;

      .close-svg {
        display: none;
      }
    }
  }

  .back-menu {
    position: relative;
    padding-left: 30px;
    button {
      color: #61646B !important;

    }

    &:before {
      content: url("../assets/icons/ic-menu-back2.svg");
      position: absolute;
      top: 2px;
      left: 0;
    }

  }

  .content-true {
    position: relative;
    width: 100%;
    text-align: start;

    &:after {
      content: url("../assets/icons/ic-arrow-menu.svg");
      position: absolute;
      top: 2px;
      right: 0;
    }
  }

  .header-show {
    .header-content-menu {
      display: flex;
      overflow: hidden;
    }
    .header-toggler {
      .open-svg {
        display: none;
      }
      .close-svg {
        display: block;
      }
    }
  }
}

