.modal-custom {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(15, 15, 15, 0.4);
  z-index: 1000;
  transition: all 0.3s;
  opacity: 0;
  pointer-events: none;

  &-wrap {
    height: fit-content;
    width: 100%;
    position: fixed;
    bottom: -100%;
    transition: all 0.3s;
    &-container {
      background-color: #EEF0F1;
      box-shadow: 0 -10px 20px 0 rgba(18,23,33,0.3);

      .content {
        padding: 40px;
        .title {
          color: #0F0F0F;
          font-size: 28px;
          font-weight: bold;
          letter-spacing: -0.8px;
          line-height: 34px;
        }

        .descr {
          margin-top: 10px;
          color: #61646B;
          font-size: 17px;
          letter-spacing: -0.4px;
          line-height: 26px;
        }

        &-wrap {
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          &-item {
            display: flex;
            align-items: center;
            position: relative;
            column-gap: 14px;

            &-title {
              color: #0C0E12;
              font-size: 21px;
              font-weight: 500;
              letter-spacing: -0.4px;
              line-height: 30px;
            }

            &:after {
              content: url("../assets/icons/ic-arrow-menu.svg");
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }

      .close-modal {
        position: absolute;
        right: 0;
        z-index: 10;
        height: 34px;
        width: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
      }
    }
  }
}

.show-modal {
  opacity: 1;
  pointer-events: unset;

  .modal-custom-wrap {
    bottom: 0;
  }
}

