.smallBanner {
  margin-top: 80px;
  &-wrap {
    background-image: url("../assets/img/image@2x.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 93px 100px;
    position: relative;
    overflow: hidden;

    &-content {
      max-width: 650px;
      position: relative;
      z-index: 4;
      &-title {
        color: #FFFFFF;
        font-size: 40px;
        font-weight: bold;
        letter-spacing: -0.8px;
        line-height: 50px;

        span {
          color: #6DD400;
          //background-color: #0F0F0F;
        }
      }

      .btn {
        margin-top: 40px;
      }
    }

    .vector {
      position: absolute;
      top: -162px;
      right: -151px;
    }
  }
}


@media (max-width: 650px) {
  .smallBanner {
    &-wrap {
      padding: 50px;

      &-content {
        max-width: 100%;
      }
    }
  }
}



@media (max-width: 400px) {
  .smallBanner {
    &-wrap {

      &-content {

        .btn {
          width: 100%;
        }
      }
    }
  }
}
