@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'beta'; // Замените на желаемое название шрифта
  src: url('../assets/font/FontsFree-Net-Inter-Light-BETA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

//body {
//  position: relative;
//  overflow-x: hidden;
//}

.body-overflow {
  overflow: hidden;
}


a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

p,h1,h2,h3,h4,h5,h6,ol,ul,li {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1380px;
  padding: 0 40px;
}

.btn, .btn-black, .btn-white {
  background-color: #6DD400;
  padding: 17px 50px 17px 30px;
  color: #0F0F0F;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  border: none;
  border-radius: unset;
  display: block;
  cursor: pointer;
  transition: all 0.3s;

  &:after {
    transition: all 0.3s;
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 2px;
    width: 20px;
    background-color: #0F0F0F;
  }
}

.btn-black {
  background-color: #0E0F14;
  color: #8CD9CC;

  &:after {
    background-color: #8CD9CC;
  }

  &:hover {
    background-color: #28292F;

    color: #8CD9CC;
  }
}

.btn-white {
  background-color: white;

  &:hover {
    background-color: rgba(255,255,255,0.9);
    color: #0F0F0F;
  }
}

.btn {
  &:hover {
    background: #88F316;
    color: #0F0F0F;
  }
}

.btn-hover {
  &:hover {
    padding-right: 70px;

    &:after {
      width: 40px;
    }
  }
}




.link {
  color: #0F0F0F;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 21px;
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
  transition: all 0.3s;

  svg {
    transition: all 0.3s;
    margin-left: 8px;
  }

  &:hover {
    color: #6DD400;

    svg {
      margin-left: 18px;

       * {
        fill: #6DD400;
      }
    }
  }
}

.title-m, .title-m-light, .title-m-bold {
  color: #0F0F0F;
  font-size: 28px;
  letter-spacing: -0.6px;
  line-height: 38px;
  font-weight: 300;
}

.title-m-light {
  color: #61646B;
}

.title-m-bold {
  font-weight: bold;
}


.descr-s {
  color: #61646B;
  font-size: 17px;
  letter-spacing: -0.4px;
  line-height: 26px;
}



.more {
  .link {
    margin-top: 40px;

    &:hover {
      svg {
        margin-left: 8px;
      }
    }
  }

  .more-visible {

  }

  .more-hidden {
  }

  &-show {
    animation-name: zoom-in;
    animation-duration: 0.2s;
    opacity: 1;
    //max-height: unset;
    display: block;
  }

  &-hide {
    animation-name: zoom-out;
    animation-duration: 0.3s;
    opacity: 0;
    //max-height: 1px;
    display: none;
  }
}

.list-num {
  padding-left: 20px;

  li {
    counter-increment: item;
    padding-left: 20px;
    margin-top: 8px !important;


    &:first-child {
      counter-reset: item;
    }

    &::marker {
      color: #0C0E12;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.2px;
      line-height: 28px;
    }
  }

  ol {
    padding-left: 0;

    li {
      display: block;

      &:before {
        content: counters(item, ".") ".";
        padding-right: 15px;
        color: #0C0E12;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.2px;
        line-height: 28px;
      }
    }
  }
}

.list, .check-list {
  .descr-s-l {
    margin-top: 8px;
    position: relative;
    padding-left: 24px;

    &:first-child {
      margin-top: 16px;
    }

    &:after {
      position: absolute;
      content: url("../assets/icons/ic-list.svg");
      left: 0;
      top: 60%;
      transform: translateY(-50%);
    }
  }
}

.check-list {
  .descr-s-l {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.4px;
    line-height: 24px;
    padding-left: 36px;
    margin-top: 12px;

    &:first-child {
      margin-top: 0;
    }

    &:after {
      content: url("../assets/icons/ic-check-circle.svg");
    }
  }
}


@keyframes zoom-in {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoom-out {
  from
  {
    transform:scale(1);
    opacity: 1;
  }
  to {
    transform:scale(0);
    opacity: 0;
  }
}


.wrapper {
  display: flex;
  width: 100%;
    &-left {
      width: 50.625%;
      display: flex;
      justify-content: flex-end;

      &-deep {
        width: 100%;
        max-width: 660px;
      }
    }

    &-right {
      width: 49.375%;
      display: flex;
      justify-content: flex-start;

      &-deep {
        width: 100%;

         &-wrap {
          max-height: 800px;
          height: 100%;
          position: relative;
          img {
            width: 100%;

            max-width: 100%;
            height: 100%;
            object-fit: cover;
          }

          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
          }
        }
      }
    }

  .clip {
    position: relative;
    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 50px solid #DADADA;
      border-left: 50px solid transparent;
      top: 0;
      right: 0;
    }
  }
}


@media (max-width: 1380px) {
  .wrapper {
    &-left {
      &-deep {
        padding-left: 40px;
      }
    }
  }
}


@media (max-width: 750px) {
  .wrapper {
    flex-direction: column;

    &-left {
      width: 100%;
    }

    &-right {
      width: 100%;
    }
  }
}


.title-l-w, .title-l-b {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.7px;
  line-height: 48px;
}

.title-l-b {
  color: #0C0E12;
}

////main.css- 444
//.banner-wrap {
//  width: 100%;
//  max-width: 712px;
//  display: flex;
//  flex-direction: column;
//}
//
////main.css- 11
//html, body {
//  // добавить
//  overflow-x: hidden;
//}
//
////main.css- 516
//@media (max-width: 775px) {
//  // добавить
//
//  .banner-wrap {
//    height: 590px;
//    max-width: unset;
//    display: flex;
//    flex-direction: column;
//  }
//  // добавить все что написанно снизу снизу
//  .banner-wrap a {
//    display: flex;
//    flex-grow: 3;
//    align-items: flex-end;
//  }
//}
//
//
////main.css-882
//
//@media (max-width: 775px) { //@media (max-width: 700px) заменить на 775px
//  .smallBanner-wrap { //882
//    // добавить
//    height: 354px;
//  }
//
//  .smallBanner-wrap-content { //888
//    // добавить
//    height: 100%;
//    display: flex;
//    flex-direction: column;
//  }
//
//  // добавить все что написанно снизу снизу
//  .smallBanner-wrap-content a {
//    display: flex;
//    flex-grow: 3;
//    align-items: flex-end;
//  }
//}
//




