.type {
  background-color: #DADADA;

  .wrapper-left {
    background-color: #0F0F0F;

    .about-info {
      &-title, &-descr {
        color: #FFFFFF;
      }

      a {
        color: #6DD400;

        svg * {
          fill: #6DD400;
        }
      }
    }
  }

  .wrapper-right {
    &-deep {
      &-wrap {
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  //.clip {
  //  &:after {
  //
  //  }
  //}
}
